/* Created 05-28-2022 */

/*Variables Importations*/

@import 'partials/variables.scss';

/* GENERAL */


/*HTML*/
body {
  background-color: $color1;

  /*
    Je met ce commentaire afin que ce overflow ne soit pas considéré comme une tentative de dissimulation d'une erreur.
    Sans ce dernier, la page contact bug avec un scroll horizontale malvenu.
    À corriger si possible dans les plus brefs délais..
  */
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

/*HEADER*/

header {
  font-family: $mainFont;
  top: 0;
  left: 0;
  background-color: $color1;
  width: 100%;
  height: 10vh;
  color: $color4;
  padding: 0 2rem;

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      line-height: 10vh;
      text-transform: uppercase;
    }
  }
}

.toggle {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

.open .menu {
  transform: translateX(0);
}

.opening {
  display: block;
}

.closing {
  display: none;
}

.open .opening {
  display: none;
}

.open .closing {
  display: block;
}

.menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color1;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 1s;
  z-index: 49;


  li {
    a {
      color: $color4;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      transition: 0.5s;
      color: $color3;
    }

  }
}


/*SECTION*/

/*ABOUT*/

.banner-about {
  background-image: url("../img/banners/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

h2 {
  background-color: $color3;
  padding: 1rem;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: $color4;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.soulignement {
  height: 1rem;
  border-bottom: 2px solid $color2;
}

.about-me {
  padding: 1rem;
  background-color: $color3;
  color: $color1;
  font-family: "Poppins", sans-serif;

  .about-container {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color4;
    border: 2px solid $color1;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;


    img {
      padding-top: 1rem;
      border-radius: 180px;
      justify-content: center;
    }

    p {
      background-color: $color4;
      padding: 1rem;
    }
  }

  h3 {
    text-transform: capitalize;
  }
}

/*SKILLS*/

.banner-skills {

  background-image: url("../img/banners/chien.jpg");
  background-size: cover;
  background-position: 50% 63%;
  background-repeat: no-repeat;
  height: 40vh;
}

.container {
  margin:auto;
  width: 60%;
  background-color: #ddd;
  border-radius:20px;
}

.skills {
  background-color: $color3;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color1;
  p{
    color:$color1;
  }
  h3{
    text-transform: capitalize;
  }
}

.bar1 {
  border-radius:20px;
  padding-right: 10px;
  text-align:right;
  width: 90%;
  background-color: $color2;
  color:$color4;
}

.bar2{
  border-radius:20px;
  padding-right: 10px;
  text-align:right;
  width: 80%;
  background-color: $color2;
  color:$color4;
}
.bar3 {
  border-radius:20px;
  padding-right: 10px;
  text-align:right;
  width: 65%;
  background-color: $color2;
  color:$color4;
}

.bar4 {
  border-radius:20px;
  padding-right: 10px;
  text-align:right;
  width:60%;
  background-color: $color2;
  color:$color4;
}


/*EXPERIENCES*/

.banner-experiences {
  background-image: url("../img/banners/experiences.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}
.experiences-container{
  background-color: $color3;
  width:100%;
  height:100%
}

.experience-background{
  background-color: $color4;
  border-radius:6px;
}
.experiences {
  background-color: $color3;
  //margin:1rem;
  padding: 1rem;
  font-family: $mainFont;
  figure{
    text-align:center;

    img {
      padding:1rem;
      border-radius:6px;
      height: 25%;
    }
  }
  p{
    padding: 1rem;
    color:$color1;
  }
}

/*PORTEFOLIO*/

#slider {
  background-color: $color3;
  position: relative;
  width: auto;
  margin: auto;
  display: flex;
  align-items: center;
  height: 67.5vh;

  img {
    height: 66vh;
    width: 100vw;
    object-fit: cover;
  }
}


#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba($color4, 0.8);
  background-color: rgba($color2, 0.8);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

/*TESTIMONIAL*/

.banner-testimonial {
  background-image: url("../img/banners/testimonials.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.testimonials {
  padding: 1rem;
  background-color: $color3;
  color: $color1;
  font-family: "Poppins", sans-serif;

  .testimonials-container {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color4;
    border: 2px solid $color1;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;

    img {
      padding-top: 1rem;
      border-radius: 180px;
      justify-content: center;
    }

    q {
      display: block;
      padding: 1rem;
    }

    .stars {
      padding-top: 1rem;
      width: auto;
    }
  }
}


/* CONTACT */
.banner-contact {
  background-image: url("../img/banners/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.contact-container {
  background-color: $color3;
  font-family: $mainFont;
  text-align: center;
}

form {
  font-family: $mainFont;
  padding: 1rem;
  margin: 1rem;
  background-color: $color4;
  border-radius: 10px;

  .body-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .box {
      position: relative;
      margin-top: 20px;
      display: flex;
      flex-direction: column;

    }

    .left .box input {
      margin-top: 5px;
      padding: 10px 5px 10px 30px;
      border: 1px solid $color2;
      border-radius: 6px;
      outline-color: $color2;
    }

    .left {
      margin: 0 auto;
    }

    .left .box i {
      position: absolute;
      left: 0;
      top: 25px;
      padding: 14px 12px;
      color: $color2;
    }

    .right {
      margin: 0 auto;

      textarea {
        border: 2px solid $color1;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        resize: none;
        height: 100%;
        outline: none;
      }

      box {
        height: 100%;
      }
    }
  }

  .footer-form {
    width: 100%;
    margin: 0 30%;

    button {
      font-size: 15px;
      display: flex;
      text-align: center;
      font-family: $mainFont;
      border: 2px solid $color1;
      border-radius: 6px;
      align-items: center;
      background-color: $color4;
      color: $color1;
      cursor: pointer;

    }

    button:hover {
      transform: scale(1.05);
      background-color: $color3;
      transition: 0.5s;
    }
  }
}


.resp-container {
  address {
    font-family: $mainFont;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid $color1;
    background-color: $color4;
    border-radius: 6px;
  }

  .map-responsive {
    margin: 1rem;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      padding-bottom:1rem;
      border: 2px solid $color1;
      border-radius: 6px;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}


/* FOOTER */

/*scroll to up button*/

.up-btn {
  height: 40px;
  width: 40px;
  background-color: $color2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 12px;
  bottom: 18px;
  cursor: pointer;

  .icone {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color3;
    color: white;
  }
}

footer {
  font-family: "Poppins", sans-serif;
  margin-top:1rem;
  background-color: $color1;
  width: 100%;
  height: 10vh;
  color: $color4;
  padding: 0 2rem;
}

.socials-medias {
  display: flex;
  line-height: 10vh;
  justify-content: space-around;

  li {
    a {

      font-size: 0.8rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color4;

      i {
        line-height: 10vh;
        display: contents;
        font-size: 300%;
      }

      span {
        padding-left:0.5rem;
        display: none;
      }
    }

    a:hover {

      transition: 0.5s;
      color: $color3;
    }
  }
}

/* RESPONSIVE TABLET*/

@media screen and (min-width: 768px) {

  /*Section*/

  /*ABOUT*/

  .about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about-container {
    max-width: 26rem;
  }
  /*EXPERIENCES*/
.experiences{
    p{
      text-indent:2em;
    }
    .left {
      margin:  1rem 1rem ;
      float: left;
      width:25%;
  }
  .right {
    margin: 1rem 1rem ;
    float: right;
    width:25%;
  }
}

  /*CONTACT*/
  form .footer-form {
    width: 100%;
    margin: 0 40%;
  }

  /*PORTEFOLIO*/
  #slider {
    height: 67.5vh;
  }

  /*TESTIMONIALS*/

  .testimonials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .testimonials-container {
    max-width: 26rem;
  }


  /*FOOTER*/

  .up-btn {
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 18px;


    .icone {
      width: 20px;
      height: 20px;

    }
  }

  .socials-medias {
    li {
      font-size: 1rem;

      a {
        i {
          margin-right: 1.5rem;
        }

        span {
          display: inline-block;
        }
      }
    }
  }
}

/*RESPONSIVE DESKTOP*/

@media screen and (min-width: 991px) {

  /*Header*/

  .toggle {
    display: none;
  }

  .menu {
    padding-bottom: 0.6rem;
    Display: contents;
    position: inherit;
    justify-content: center;
    width: 11rem;
    height: 0;

    li {
      margin: 0 0.6rem;
      padding: 0 0.6rem;
    }
  }

  .open .menu {
    width: 33rem;
  }

  .h1 {
    position: relative;
    z-index: 20;
  }

  /*SECTION*/

  /*ABOUT*/
  .banner-about {
    background-image: url("../img/banners/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }

  /*CONTACT*/

  /*Portfolio*/
  #slider {
    height: 67.5vh;

  }
  /*FOOTER*/

  .up-btn {
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 18px;


    .icone {
      width: 25px;
      height: 25px;

    }
  }

  .socials-medias {
    li {
      a {
        span {
          display: inline-block;
        }

        font-size: 1rem;
      }
    }
  }
}


