/* Created 05-28-2022 */
/*Variables Importations*/
/* COLOR */
/*FONTS*/
/* GENERAL */
/*HTML*/
body {
  background-color: rgb(172, 185, 146);
}

html {
  font-size: 16px;
}

/*HEADER*/
header {
  font-family: "Poppins", sans-serif;
  top: 0;
  left: 0;
  background-color: rgb(54, 39, 6);
  width: 100%;
  height: 10vh;
  color: rgb(233, 229, 214);
  padding: 0 2rem;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  font-size: 2rem;
  line-height: 10vh;
  text-transform: uppercase;
}

.toggle {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

.open .menu {
  transform: translateX(0);
}

.opening {
  display: block;
}

.closing {
  display: none;
}

.open .opening {
  display: none;
}

.open .closing {
  display: block;
}

.menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 39, 6);
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 1s;
  z-index: 49;
}
.menu li a {
  color: rgb(233, 229, 214);
  text-decoration: none;
  text-transform: uppercase;
}
.menu li a:hover {
  transition: 0.5s;
  color: rgb(172, 185, 146);
}

/*SECTION*/
/*ABOUT*/
.banner-about {
  background-image: url("../img/banners/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

h2 {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: rgb(233, 229, 214);
  text-transform: uppercase;
  text-align: center;
}

.about-me {
  padding: 1rem;
  background-color: rgb(172, 185, 146);
  color: rgb(54, 39, 6);
  font-family: "Poppins", sans-serif;
}
.about-me .about-container {
  background-color: rgb(233, 229, 214);
  border: 2px solid rgb(54, 39, 6);
  border-radius: 6px;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
}
.about-me .about-container h3 {
  text-align: center;
  text-transform: capitalize;
}
.about-me .about-container p {
  background-color: rgb(233, 229, 214);
}
.about-me h3 {
  text-transform: capitalize;
}
.about-me p {
  padding: 1rem;
}

/*SKILLS*/
.banner-skills {
  background-image: url("../img/banners/skills.jpg");
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  height: 40vh;
}

/*Slider*/
#slider {
  background-color: rgb(172, 185, 146);
  position: relative;
  width: auto;
  margin: auto;
  display: flex;
  align-items: center;
  height: 80vh;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

/*TESTIMONIAL*/
.banner-testimonial {
  background-image: url("../img/banners/skills.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 40vh;
}

/* CONTACT */
.banner-contact {
  background-image: url("../img/banners/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

/*
.contact {
  font-family: $mainFont;
  witdh: 100%;
  text-align: center;
  color: $color1;
  font-family: $mainFont;
  height: auto;
  background-color: $color3;

  h2 {
    padding: 0.5rem;
    background-color: $color4;
    text-transform: uppercase;
    text-align: center;
  }

  form {
    margin: 1rem;
    padding: 1rem;

    input, textarea, submit {
      border-radius: 6px;
      background-color: $color4;
    }

    textarea {
      width: 18.75rem;
      height: 9.37rem;
    }

    .map {
      margin-bottom: 3rem;
      height: auto;
      width: 100%;

      iframe {
        display: block;
        text-align: center;
        margin: auto;
        height: 25%;
        width: 25%;
      }
    }
  }
}

*/
.contact-container {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

form {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(233, 229, 214);
  border-radius: 10px;
  padding: 30px;
}
form .body-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
form .body-form .box {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .body-form .left .box input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid rgb(70, 78, 46);
  border-radius: 6px;
  outline-color: rgb(70, 78, 46);
}
form .body-form .left {
  margin: 0 auto;
}
form .body-form .left .box i {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 14px 12px;
  color: rgb(70, 78, 46);
}
form .body-form .right {
  margin: 0 auto;
}
form .body-form .right textarea {
  border: 2px solid rgb(54, 39, 6);
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  height: 100%;
  outline: none;
}
form .body-form .right box {
  height: 100%;
}
form .footer-form {
  width: 100%;
}
form .footer-form button {
  font-size: 15px;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: 2px solid rgb(54, 39, 6);
  border-radius: 6px;
  align-items: center;
  background-color: rgb(233, 229, 214);
  color: rgb(54, 39, 6);
  cursor: pointer;
}
form .footer-form button:hover {
  background-color: rgb(172, 185, 146);
  transition: 0.5s;
}

/* FOOTER */
footer {
  font-family: "Poppins", sans-serif;
  background-color: rgb(54, 39, 6);
  width: 100%;
  height: 10vh;
  color: rgb(233, 229, 214);
  padding: 0 2rem;
}

.socials-medias {
  display: flex;
  line-height: 10vh;
  justify-content: space-around;
}
.socials-medias li a {
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(233, 229, 214);
}
.socials-medias li a i {
  line-height: 10vh;
  display: contents;
  /*font-size: 300%;*/
}
.socials-medias li a span {
  display: none;
}
.socials-medias li a:hover {
  transition: 0.5s;
  color: rgb(172, 185, 146);
}

/* RESPONSIVE TABLET*/
@media screen and (min-width: 768px) {
  /*Section*/
  /*ABOUT*/
  /*CONTACT*/
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact .map {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(54, 39, 6);
    border-radius: 6px;
  }
  .contact .map iframe {
    height: 100%;
    width: 100%;
  }

  p {
    display: flex;
    text-align: center;
  }

  /*Portfolio*/
  #slider {
    background-color: rgb(172, 185, 146);
    position: relative;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    height: auto;
  }

  /*FOOTER*/
  .socials-medias li {
    font-size: 1rem;
  }
  .socials-medias li a i {
    margin-right: 1.5rem;
  }
  .socials-medias li a span {
    display: inline-block;
  }
}
/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 991px) {
  /*Header*/
  .toggle {
    display: none;
  }

  .menu {
    padding-bottom: 0.6rem;
    Display: contents;
    position: inherit;
    justify-content: center;
    width: 11rem;
    height: 0;
  }
  .menu li {
    margin: 0 0.6rem;
    padding: 0 0.6rem;
  }

  .open .menu {
    width: 33rem;
  }

  .h1 {
    position: relative;
    z-index: 20;
  }

  /*SECTION*/
  /*ABOUT*/
  .banner-about {
    background-image: url("../img/banners/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }

  /*CONTACT*/
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact .map {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(54, 39, 6);
    border-radius: 6px;
  }
  .contact .map iframe {
    height: 100%;
    width: 100%;
  }

  /*Portfolio*/
  #slider {
    background-color: rgb(172, 185, 146);
    position: relative;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /*FOOTER*/
  .socials-medias li a {
    font-size: 1rem;
  }
  .socials-medias li a span {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
